/* Meal Planner Layout */
.meal-plan {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 20px;
}

.day {
    border: 1px solid #ccc;
    padding: 10px;
}

.schedule {
    margin-bottom: 20px;
}

.meals {
    display: flex;
    gap: 10px;
}

.meal {
    position: relative;
    border: 1px solid #ccc;
    padding: 15px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
    display: flex;
    align-items: center;
    user-select: none;
    font-size: 16px;
}

.meal:hover {
    background-color: #f0f0f0;
    color: #333;
}

.meal.selected {
    background-color: #e0e0e0;
}

/* Meal Control */
.meal-control {
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    align-items: center;
}

.quantity-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    color: #666;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    line-height: 20px; /* Matches the height for vertical centering */
    text-align: center; /* Ensures horizontal centering */
    margin: 0; /* Removes any unwanted spacing */
    padding: 0; /* Removes any unwanted spacing */
    color: white;

}

.quantity-circle.active {
    background-color: #e0e0e0;
    color: white;
}

/* Custom Dropdown */
.custom-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 10;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    max-height: 100px;
    overflow-y: auto;
}

/* Circle Buttons inside Custom Dropdown */
.circle-button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    color: #666;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s, color 0.3s;
}

.circle-button:hover {
    background-color: #007bff;
    color: white;
}

/* Popup and Overlay */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 80%;
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow: auto;
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
}

/* Tab View Styles */
#aggregation-section {
    margin-top: 20px;
    width: 95%;
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #ccc;
}

.tab-button {
    padding: 10px 20px;
    background: white;
    border: none;
    cursor: pointer;
}

.tab-button.active {
    background: white;
    border-bottom: 2px solid #007bff;
}

.tab-content {
    display: none;
    padding: 20px;
    width: 100%;
}

.tab-content.active {
    display: block;
}

/* Mobile-Friendly Adjustments */
@media (max-width: 768px) {
    .meal-plan {
        grid-template-columns: repeat(7, 1fr);
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
    .day {
        min-width: 70vw;
        min-height: 70vh;
    }
    .popup {
        width: 90%;
        height: auto;
        max-height: 80%;
    }
}